@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Light.otf);
}

@font-face {
    font-family: gilroy-bold;
    src: url(./Gilroy-ExtraBold.otf);
}

body {
    background-color: #395795;
}

.contenedor {
    width: 669px;
    height: 382px;
    margin: 0 auto;
    background-image: url("./final.png");
    background-repeat: no-repeat;
    border-radius: 15px;
}

.nav {
    padding-top: 25px;
    padding-left: 30px;
    font-family: gilroy;
}

.nav>a {
    text-decoration: none;
    padding: 30px 8px 8px 8px;
    color: white;
    font-style: unset;
    padding-right: 30px;
    font-size: 8px;
}

#boton {
    border-radius: 20px;
    border-style: hidden;
    height: 20px;
    width: 100px;
    margin-right: 30px;
    display: inline;
    float: right;
    font-size: 8px;
    font-family: gilroy-bold;
    color: #62C3ED;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: black;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 50px;
}

.cuerpo>h1 {
    margin-top: 80px;
    margin-right: 180px;
    font-family: gilroy-bold;
}

.cuerpo>h3 {
    font-family: gilroy-bold;
    margin-top: -30px;
    font-size: 20px;
    color: white;
}

#boton2 {
    border-radius: 20px;
    border-style: hidden;
    height: 20px;
    width: 100px;
    margin-right: 30px;
    display: inline;
    float: right;
    font-size: 8px;
    font-family: gilroy-bold;
    color: #62C3ED;
    font-size: 10px;
}