@font-face 
{
    font-family: monserat;
    src: url(./Montserrat-ExtraBold.otf);
}
@font-face 
{
    font-family: monserat-regular;
    src: url(./AlegreyaSans-Regular.otf);
}
@font-face 
{
    font-family: monserat-medium;
    src: url(Montserrat-Medium.otf);
}
@font-face 
{
    font-family: monserat-semibold;
    src: url(Montserrat-SemiBold.otf);
}
@font-face 
{
    font-family: monserat-black;
    src: url(Montserrat-Black.otf);
}


.container 
{
width: 624px;
height: 421px;
background-image: url(./Recurso\ 2\ \(1\).png);
margin: 0 auto;

}

body 
{
background: rgb(144, 43, 226);
}

.label 
{
    font-family: monserat;
    font-size: 20px;
    margin-top: -290px;
    margin-left: 40px;
    color: white;
}
.label2 
{
    font-family: monserat-semibold;
    margin-top: -90px;
    margin-left: 40px;
    color: white;
    font-size: 13px;
}

.buttonnav 
{
   background-color: transparent;
   white-space:nowrap;
   align-items: center;
   border-radius: 50px;
   border-color: white;
   color: white;
   padding-left: 10px;
   padding-right: 10px;
   font-family: monserat-regular;
   letter-spacing: 1px;
   margin-right: 10px;
}

.searchbutton
{
   background-color: transparent;
   white-space:nowrap;
   align-items: center;
   border-radius: 50px;
   border-color: white;
   height: 35px;
   size: 100px;
   letter-spacing: 1px;
   flex-direction: row;
   margin-left:40px;
   padding-left: 20px;
   padding-right: 20px;
   font-family: monserat-regular; 
   margin-top: 110px;
   font-size: 13px;
   color: white;
   
}


.nav {
    height: 100%;
    width: 100%;
    background-color:transparent;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-family:  monserat; 
    font-size: 15px;
    color:white;
    margin-top: 25px;
    padding: 4px 40px 40px 40px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 15px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 30px 8px 8px 8px;
    margin-right: 5px;
    text-decoration: none;
    color:white;
    font-family: monserat-regular;

  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      color: black;
      background-color: white;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
